html {
  font-family: 'Inconsolata', sans-serif;
  font-size: 14px;
}

#divMain {
	margin: 5%;
}

#divMain h1, h2 {
	margin:0;
}

#divInfo {
	width:70%;
	display:inline-block;
}

#divSide {
	float:right;
	width:20%;
	display:inline-block;
}

#divSide img {
	width:100%;
}