html {
    font-family: 'Inconsolata', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #000222;
    color: #fff;
    /*background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");*/
    background-attachment: fixed;
}

ul {
    list-style: none;
}

#main {
    margin: 0 10%;
}

#main a {
    color: #eb00eb;
}

#main a:hover {
    color: #af00af;
}

#main .contentBlock {
    width: 50%;
    display: inline-block;
}

#header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000222;
    overflow: hidden;
    text-align: center;
    /*background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");*/
}

#header ul {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

#header li {
    display: inline-block;
    margin: 0 4%;
}

#header li a {
    float: left;
    display: block;
    text-decoration: none;
    color: #fff;
}

#header li a:visited {
    color: #fff;
}

#header li a:hover {
    color: #eb00eb;
    cursor: pointer;
}

#welcome {
    padding: 25vh 0 0 0;
    /*margin-bottom: 50%;*/
    min-height: 100vh;
}

#welcome h1 {
    margin-bottom: 2%;
}

.content {
    text-align: left;
    /*margin-bottom: 75%;*/
    min-height: 100vh;
}

.left {
    float: left;
}

/*#professional {
    text-align: left;
    margin-bottom: 25%;
}*/

.glitch {
    font-size: 60px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transform: translate(0%, 0%);
    margin: 0;
    text-decoration: none;
    color: #fff;
    filter: blur(1px);
}

.glitch:before {
    display: block;
    content: 'dan underwood';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    color: #0ff;
    z-index: -1;
    right: 3px;
    bottom: 1px;
    text-shadow: 0 0 4px;
}

.glitch:after {
    display: block;
    content: 'dan underwood';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    color: #f0f;
    z-index: -2;
    left: 3px;
    top: 1px;
    text-shadow: 0 0 6px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column div img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.icon {
    box-shadow:
            -1px 0px 1px 1px #0ff,
            1px 0px 1px 1px #f0f;
    filter: blur(1px);
    display: inline-flex;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}